@media(max-width:1400px){
    .header_top_menu{
        margin: 0 auto;
        width: 450px;
    }
    .header_top{
        padding: 40px 0px 0 0;
    }
    .header_content{
        margin: 150px 100px 0 100px;
    }
    .project_content{
        margin: 0 100px 0 150px;
      }
      .project_text{
        margin-left: 100px;
      }
}
@media(max-width:1200px){
    .header_content_text{
        padding-right: 50px;
    }
    .header_content_text2{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .header_content_text1{
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
    }
    .project_content_list{
        margin: 50px 0 0 20px;
      }
      .contacts{
        height: 150px;
      }
      .contacts_list{
        max-width: 300px;
        margin: 200px auto 40px auto;
      }
}
@media(max-width:1000px){
    .header_content_text{
        padding-right: 30px;
    }
    .header_content_text2{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .header_content_text1{
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
    }
    .header_content{
        margin: 100px 60px 0 60px;
    }
    .header_content_text2{
        max-height: 200px;
    }
    .project_content_list{
        margin: 90px 0 0 20px;
      }
      .project_content{
        margin: 0 100px 0 100px;
      }
      
}
@media(max-width:800px){
    .header_content{
        display: flex;
        flex-direction: column-reverse;
    }
    .menu_item1{
        font-size: 20px;
    }
    .menu_item2{
        margin-left: 15px;
        font-size: 20px;
    }
    .menu_item3{
        margin-left: 15px;
        font-size: 20px;
    }
    .header_top_menu{
        width: 340px;
    }
    .header_content_img{
        border-radius: 5%;
        height: 400px;
        width: 500px;
        margin: 0 auto 30px auto;
    }
    .header_content_text1{
        font-size: 32px;
        line-height: 40px;
    }
    .header_content_text{
        padding-right: 0px;
    }
    .header_content{
        margin: 50px 40px 0 40px;
    }
    .header_content_text2{
        max-height: 220px;
    }
    .project{
      height: 1600px;
    }
    .project_content{
        margin: 0 40px 0 40px;
      }
      .project_content1{
        display: flex;
        flex-direction: column;
      }
      .project_content2{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
      }
      .project_content3{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
      }
      .project_text{
        margin-left: 40px;
        margin-bottom: 60px;
      }
      .project_content1_text{
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
      }
      .project_content_list{
        margin: 10px 0 0 20px;
      }
      .contacts_list_item{
        height: 40px;
        width: 40px;
      }
      .contacts{
        height: 100px;
      }
      .contacts_list{
        max-width: 200px;
        margin: 250px auto 40px auto;
      }
}
@media(max-width:700px){
  .project{
    height: 1400px;
  }    
}
@media(max-width:600px){
  .project{
    height: 1200px;
  }
  .header_content_text2{
    max-height: 240px;
  }
  .header_content_img{
    border-radius: 5%;
    height: 350px;
    width: 400px;
    margin: 0 auto 30px auto;
  }  
  .contacts_list{
    max-width: 200px;
    margin: 450px auto 40px auto;
  } 
}

@media(max-width:500px){
  .project{
    height: 1000px;
  }
  .header_content_text2{
    max-height: 260px;
}
.header_content_img{
  border-radius: 5%;
  height: 250px;
  width: 300px;
  margin: 0 auto 30px auto;
}   
}
@media(max-width:400px){
  .project{
    height: 1000px;
  }
  .menu_item1{
    font-size: 15px;
}
.menu_item2{
    margin-left: 10px;
    font-size: 15px;
}
.menu_item3{
    margin-left: 10px;
    font-size: 15px;
} 
.header_content_img{
  border-radius: 5%;
  height: 200px;
  width: 250px;
  margin: 0 auto 30px auto;
} 
header{
  height: 1100px;
}  
}
@media(max-width:350px){
  .project{
    height: 900px;
  }
  .header_content_text2{
    max-height: 320px;
}   
}
@media(max-width:320px){
  .header_content_text2{
    max-height: 360px;
}   
}
@media(max-width:300px){
  .project{
    height: 900px;
  }
  header{
    height: 1200px;
  }
  .header_content_text2{
    max-height: 400px;
    width: 200px;
} 
.project_content1_text{
  height: 60px;
}    
}
@media(max-width:250px){
  .header_content_text2{
    max-height: 450px;
} 
  header{
    height: 1300px;
  }    
}     
     
